.dino {
    width: 60px;
    height: 60px;
    background: #0095f6;
    position: absolute;
    bottom: 10px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 10px;
    background: red;
}